body {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    background: url("/air-asia/img/1.png") center top no-repeat, url("/air-asia/img/2.png") center bottom 165px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.header {
    height: 110px;
    position: relative;
    margin-bottom: 76px;
}

.logo {
    display: block;
    position: absolute;
    top: 21px;
    left: 0px;
}

.menu {
    position: absolute;
    top: 31px;
    left: 164px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    position: absolute;
    top: 19px;
    right: 0px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-top: -8px;
}

.hero {
    margin-bottom: 245px;
}

.hero__text-section {
    width: 520px;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 1.4;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 27px;
    line-height: 1.8;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.preview {
    margin-bottom: 125px;
}

.hot-tours__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.hot-tours__item {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    margin-right: 24px;
    width: 360px;
    vertical-align: middle;
}

.hot-tours__item:last-child {
    margin: 0;
}

.hot-tours__icon {
    min-height: 144px;
}

.hot-tours__content {
    padding: 25px 16px 26px 22px;
    color: #000000;
}

.hot-tours__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 21px;
}

.hot-tours__options {
    display: inline-block;
    margin-bottom: 24px;
    color: #666666;
}

.hot-tours__image {
    vertical-align: middle;
}

.hot-tours__text {
    color: #303030;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 23px;
}

.btn__short {
    background: #F5170E;
    border-radius: 35px;
    padding: 17px 29px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn__short:hover {
    background: #F5170E;
    color: #FFFFFF;
    transition: background .3s;
}

.btn--border {
    background: transparent;
    color: #F5170E;
    border-color: #F5170E;
}

.news {
    margin-bottom: 145px;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.news__item {
    width: 555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 53px;
    margin-right: 22px;
}

.news__item:last-child {
    margin: 0;
}

.news__bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0 29px 30px 29px;
    min-height: 120px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 13px;
    display: inline-block;
}

.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.paginator {
    text-align: center;
}

.paginator__display, .paginator__list, .paginator__item {
    display: inline-block;
}

.paginator__display {
    margin-right: 4px;
}

.paginator__link {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    transition: 0.4s;
}

.paginator__link:hover {
    background: #FFFFFF;
    color: #F5170E;
}

.about:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(/air-asia/img/gates.png) center center / cover no-repeat;
}

.about {
    position: relative;
    margin-bottom: 100px;
}

.about__content {
    background: url(/air-asia/img/mountains.png) center center / cover no-repeat;
    padding: 69px 81px;
    width: 785px;
    height: 455px;
    position: absolute;
    /* left: 0px;
    right: 0px;
    bottom: 0px; */
    min-height: 120px;
    display: inline-block;
    vertical-align: top;
    margin-left: -138px;
    margin-top: 97px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    color: #060606;
    margin-bottom: 37px;
}

.about__text {
    color: #060606;
    margin-bottom: 41px;
    width: 502px;
    line-height: 1.7;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0px;
}

.footer-container__content {
    border-top: 1px solid #9A9A9A;
}

.footer {
    height: 100px;
    position: relative;
}

.logo__footer {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.menu__footer {
    position: absolute;
    bottom: 17px;
    left: 163px;
}

.socials {
    top: 49px;
    right: 265px;
    position: absolute;
}

.socials__link {
    display: block;
    text-decoration: none;
    height: 36px;
    width: 36px;
    background: center center no-repeat;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__item--icon--telegram .socials__link {
    background-image: url('/air-asia/img/t.png');
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url('/air-asia/img/t-hover.png');
}

.socials__item--icon--vk .socials__link {
    background-image: url('/air-asia/img/vk.png');
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url('/air-asia/img/vk-hover.png');
}

.socials__item--icon--facebook .socials__link {
    background-image: url('/air-asia/img/f.png');
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url('/air-asia/img/f-hover.png');
}

.socials__item--icon--instagram .socials__link {
    background-image: url('/air-asia/img/in.png');
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url('/air-asia/img/in-hover.png');
}

.contasts__free-call {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__footer {
    position: absolute;
    bottom: 0px;
    right: 2px;
    font-style: normal;
    text-align: right;
}
