.html, .body {
    height: 100%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    margin: 0;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-page-wrapper {
    background: url(../../img/1.png) center top no-repeat, url(../../img/2.png) center bottom 165px no-repeat;
}

.wrapper__content {
    flex: 1;
   }

.container {
    margin: 0 auto;
    width: 1141px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 528px;
}

.footer-container {
    margin-top: auto;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.img {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
   }

   /* button {
    border: none;
    background: transparent;
    cursor: pointer;
   } */