.footer-container__content {
    border-top: 1px solid #9A9A9A;
}

.footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    align-items: center;
}

.footer_column--align--right {
    align-items: flex-end;
}

.footer-container__section {
    height: 91px;
}