/* .wrapper-services {
    min-width: 1920px;
} */

.top-line {
    display: flex;
    flex-direction: column;
    min-height: 410px;
    padding-bottom: 21px;
    background: url(../../img/headline_services.png) center center / cover no-repeat;
}

.top-line--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.logo--margin {
    margin-right: 66px;
}

.page-title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 40px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
    display: inline-block;
    padding: 0 2px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page-content {
    background: #fff;
    padding: 98px 0 82px 0;
}

.service {
    display: flex;
}

.services__item {
    margin-bottom: 48px;
}

.services__item:last-child {
    margin-bottom: 0px;
}

.service__img {
    width: 41%;
    margin-right: 4%;
}

.service__img-elem {
    display: block;
    max-width: 100%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    margin-top: 11px;
    color: #000000;
}

.service__desc {
    margin-bottom: 32px;
}

.service__desc p {
    color: #303030;
    line-height: 1.7;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 88px 0 51px 0;
}

.inner-section--bg--grey {
    background: #F4F5F5;   
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 65px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 20px;
    margin-bottom: 33px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.inner-footer__container {
    padding: 44px 0;
}