.socials {
    margin: 10px 73px 0 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    height: 36px;
    width: 36px;
    background: center center no-repeat;
}

.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0px;
}




.socials__item--icon--telegram .socials__link {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -234px -10px;
}

.socials__item--icon--telegram .socials__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -290px -10px;
}


.socials__item--icon--vk .socials__link {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -346px -10px;
}

.socials__item--icon--vk .socials__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -402px -10px;
}

.socials__item--icon--facebook .socials__link {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -10px -10px;
}

.socials__item--icon--facebook .socials__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -66px -10px;
}

.socials__item--icon--instagram .socials__link {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -122px -10px;
}

.socials__item--icon--instagram .socials__link:hover {
    width: 36px;
    height: 36px;
    background: url(../../img/sprites.png) -178px -10px;
}